*{
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: 'Roboto','Helvetica Neue','sans-serif';
}

h2 {
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h6 {
    text-align: center;
    font-size: 10px;
}

li {
    margin-left: 2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

p {
    margin-top: 1em ;
    margin-bottom: 1em ;
}

a {
    color: gainsboro;
}

@keyframes flip {
    from {
      transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 50px)
        rotate3d(0, 1, 0, -170deg);
      animation-timing-function: ease-in;
    }
  
    60% {
      transform: perspective(400px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0)
        rotate3d(0, 1, 0, -45deg);
      animation-timing-function: ease-out;
    }
  
    to {
      transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
      animation-timing-function: ease-out;
    }
}
  
.animated.flip {
    backface-visibility: visible;
    animation-name: flip;
}

@keyframes flipInX {
from {
    transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0)
    rotate3d(0, 1, 0, -180deg);
    animation-timing-function: ease-out;
    opacity:0
    }

    80% {
    transform: perspective(400px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0)
        rotate3d(0, 1, 0, 0deg);
    animation-timing-function: ease-in;
    opacity:1
    }

    to {
    transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
    animation-timing-function: ease-in;
    }
}

@keyframes flipOutX {
    from {
        transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, -360deg);
        animation-timing-function: ease-out;
        opacity:1
        }
    
        80% {
        transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0)
            rotate3d(0, 1, 0, -190deg);
        animation-timing-function: ease-out;
        opacity:0.1
        }
    
        to {
        transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0)
        rotate3d(0, 1, 0, -180deg);
        animation-timing-function: ease-out;
        opacity:0
        }
    }
  
.animated.flipInX {
    backface-visibility: hidden;
    animation-name: flip;
}

.animated.flipOutX {
    backface-visibility: hidden;
    animation-name: flip;
}

.material-icons {
	font-family: Material Icons;
	font-weight: 400;
	font-style: normal;
	font-size: 24px;
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: "liga"
}

#container {
    display: flex;
    background-color: black;
    height: 100%;
    align-items: center;
    flex-direction: column;
}

#game {
    width: 100%;
    max-width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    border-bottom: 1px solid rgb(50,50,50);
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.title {
    color: gainsboro;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0.4rem 0 0.4rem 0;
    text-align: center;
    position: relative;
    left: 11px;
    top: 5px;
    font-family: 'Roboto','Helvetica Neue','sans-serif';
}

#help,
#stats, #switch {
    color: gainsboro;
    font-size: 1.5rem;
    cursor: pointer;
    align-self: right;
    font-family: Material Icons;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
    position:relative; 
    top: 5px;
    left: 5px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.gameheader {
    color: gainsboro;
    font-size: 1rem;
    font-weight: 400;
    margin: 0.4rem 0 0.4rem 0;
    text-align: center;
    font-family: 'Roboto','Helvetica Neue','sans-serif';
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.result {
    color: black;
    font-size: 0.75rem;
    font-weight: 300;
    padding-top: 10pt;
    margin: 0.4rem 0 0.4rem 0;
    text-align: center;
    font-family: 'Roboto','Helvetica Neue','sans-serif';
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.belowgame {
    align-self: center;
}

.instructions {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.statspanel {
    align-self: center;
    display: flex;
    justify-content: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.statsbuttons {
    align-self: center;
    display: flex;
    justify-content: center;
}

.inline-block {
    display: inline-block;
}

.column {
    float: left;
    width: 50%;
}

.row {
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1pt solid #FFF;
    display: flex;
    flex-grow: 1;
    padding-top:10px;
}

.row2 {
    width: 100%;
    padding-bottom: 10px;
    display: flex;
    flex-grow: 1;
    padding-top:10px;
}

#board-container{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
}

.timericon {
    color: #FFF;
    align-self: right;
    font-family: Material Icons;
	font-weight: 400;
	font-style: normal;
	font-size: 24px;
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: "liga";
    position:relative; 
    top: 5px;
    left: 5px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.symble {
    margin-right: 3px;
    border: 2px dashed rgba(0,0,0,0);
    min-width: 35px;
    min-height: 35px;
    font-size: 1.75rem;
    border-radius: 4px;
    font-weight: 400;
    color: rgb(215, 215, 215);
    text-align: center;
    text-transform: uppercase;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#board {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2px;
    box-sizing: border-box;
}

#symble-board {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    border-left: 2px solid rgb(215, 215, 215);
    grid-gap: 2px;
    box-sizing: border-box;
}

.spacer {
    min-width: 25px;
    min-height: 25px;
}

.spacer2 {
    min-width: 15px;
    min-height: 15px;
}

.square {
    margin-right: 3px;
    border: 2px solid rgb(60, 60, 60);
    min-width: 35px;
    min-height: 35px;
    font-size: 1.75rem;
    border-radius: 4px;
    font-weight: 400;
    color: rgb(215, 215, 215);
    text-align: center;
    text-transform: uppercase;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#keyboard-container {
    height: 200px;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto 8px;
    touch-action: manipulation
}

.spacer-half {
    width: 15px;
    height: 15px;
}

.stats-spacer {
    width: 100px;
    height: 15px;
}

.mid-spacer {
    width: 160px;
    height: 15px;
}

.keyboard-row button {
    font-family: inherit;
    font-weight: bold;
    border: 0;
    padding: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: rgb(130,130,130);
    color: rgb(215,215,215);
    flex-grow: 1;
    text-transform: uppercase;
    margin-right: 6px;
    border-radius: 4px;
    user-select: none;
}

.keyboard-row .wider-button {
    font-family: inherit;
    font-weight: bold;
    font-size: 24px;
    border: 0;
    padding: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: rgb(75,75,75);
    color: rgb(215,215,215);
    flex-grow: 1;
    text-transform: uppercase;
    margin-right: 6px;
    border-radius: 4px;
    user-select: none;
}

.timer {
    font-family: inherit;
    font-weight: bold;
    text-align: right;
    font-size: 18px;
    border: 0;
    padding: 0;
    width: 50px;
    height: 30px;
    color: rgb(215,215,215);
    text-transform: uppercase;
    margin-right: 6px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.stat {
    font-family: inherit;
    text-align: center;
    font-weight: bold;
    align-items: center;
    font-size: 22px;
    border: 0;
    padding: 0;
    width: 90px;
    height: 30px;
    color: rgb(215,215,215);
    text-transform: uppercase;
    margin-right: 6px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bigtimer {
    font-family: inherit;
    font-weight: bold;
    text-align: right;
    font-size: 22px;
    border: 0;
    padding: 0;
    width: 90px;
    height: 30px;
    color: rgb(215,215,215);
    text-transform: uppercase;
    margin-right: 6px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.giveup {
    font-family: inherit;
    font-weight: bold;
    align-self: left;
    font-size: 18px;
    border: 0;
    padding: 0;
    width: 75px;
    height: 30px;
    cursor: pointer;
    background-color: rgb(200,75,75);
    color: rgb(215,215,215);
    flex-grow: 1;
    text-transform: uppercase;
    margin-right: 6px;
    border-radius: 4px;
    user-select: none;
}

.share-block {
    width:75px;
    height: 30px;
    text-transform: uppercase;
}

.rep-block {
    width: 75px;
    height: 30px;
    text-transform: uppercase;
}

.replay {
    font-family: inherit;
    font-weight: bold;
    align-self: left;
    font-size: 18px;
    border: 0;
    padding: 0;
    width: 75px;
    height: 30px;
    cursor: pointer;
    background-color: rgb(75,150,75);
    color: rgb(215,215,215);
    flex-grow: 1;
    text-transform: uppercase;
    margin-right: 6px;
    border-radius: 4px;
    user-select: none;
}

.share {
    font-family: inherit;
    font-weight: bold;
    align-self: left;
    font-size: 18px;
    border: 0;
    padding: 0;
    width: 75px;
    height: 30px;
    cursor: pointer;
    background-color: rgb(75,150,75);
    color: rgb(215,215,215);
    flex-grow: 1;
    text-transform: uppercase;
    margin-right: 6px;
    border-radius: 4px;
    user-select: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
}

::-webkit-scrollbar {
    display: block;
    width: 14px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    border: 4px solid black;
    background-clip: padding-box;
    background: gainsboro;
    border-radius: 9999px;
}
::-webkit-scrollbar-thumb:active {
    background: #aeaeb5
}
::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 10px; 
}
::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 10px;
}

.modal-content {
    background-color: black;
    border-radius: 10px;
    border: 1px solid gainsboro;
    margin: 5% auto;
    padding: 20px;
    max-height: 400px;
    width: 80%;
    color: gainsboro;
    max-width: 500px;
    overflow: auto;
}
  
.modal-content hr {
    border: 1px solid rgb(58, 58, 60);
}

  /* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
#examples, #symbles, #answers {
    width: 80%;
    align-items: center;
}

.hidden {
    display: none;
}